* {
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
    color: #202e2a;
    float: left;
    margin:auto;
    font-size: 40px;
    background-color: lightskyblue;
}

header nav {
    float: right;
    margin: 0px auto;
    padding: 5px 20px 5px 20px;
    font-size: larger;
    background-color: #202e2a;
    box-sizing: border-box;
}

#about-me-nav {
    background-color: #202e2a;
    color:lightskyblue;
    
}

#work-nav {
    background-color: #202e2a;
}

#contact-nav {
    background-color: #202e2a;
}


body {
    background-color: #202e2a
    ;
}

.hero h2 {
padding: 20px;
background-color: #202e2a;
display: inline-block;
text-align: end;
}